<!doctype html>
<html>
<head>
<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
body {font-family:'Open Sans', 'Arial', sans-serif;
        font-size: 18px;
        line-height: 1.6em;
        margin: 50px;}
</style>
</head>
<body>

Thank you for your participation! Your completion code is:
<p>
    <b> RF344C</b>
</p>


<p> Please enter this number into the field in the MTurk HIT. </p>

<p> In this research, we are investigating what makes people curious about <em> why</em> something happened.
    This explanation-seeking curiosity motivates much of human learning - as a result of our search for explanations, 
    we can gain new insight into an unusual or surprising event, which may lead us to revise our beliefs about the world. 
    In this experiment, we are testing how the sequence of information received over time impacts curiosity.
</p>

<p>If you'd like to read more about related research, we recommend the following papers: </p>

<p> Gottlieb, J., Oudeyer, P.-Y., Lopes, M., & Baranes, A. (2013). Information-seeking, curiosity, and attention: computational and neural mechanisms. <em> Trends in Cognitive Sciences, 17</em>(11), 585–593. </p>
    </p>
   <p><p> </p>
    <p><p>Click here to be redirected to the Princeton Survey Research Center:
        </p> </p>


    <p> <a href = "https://psrc.princeton.edu/node/291"> https://psrc.princeton.edu/node/291</a></p>

</body>
</html>