<!doctype html>
<html>
<head>
	<title>Wild West Study</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="jspsych-5.0.3/jspsych.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-text.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-xab.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-two-initial-choice-free.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-feedback-benev-1.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-feedback-benev-2.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-feedback-acond-1.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-feedback-acond-2.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-feedback-rand-1.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-feedback-rand-slider-free.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-feedback-rand-2.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-html.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-survey-text.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-button-response-ehp.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-button-response.js"></script>

	<script src="jspsych-5.0.3/plugins/jspsych-multi-stim-multi-response.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-survey-multi-choice.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-survey-text.js"></script>
	<script src="jspsych-5.0.3/plugins/jspsych-instructions.js"></script>
	<script src="jspsych-5.0.3/additional-functions.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.min.css" rel="stylesheet" type="text/css"></link>
		<script src="jspsych-5.0.3/plugins/jspsych-call-function.js"></script>
	<link href="css/jspsych.css" rel="stylesheet" type="text/css"></link>
	<head>
	<style>
	.jspsych-button-response-button { height: 60px; width: 300px; font-size: 12px }

	</style>
	</head>

</head>
<body>
</body>
<script>

// Behavioral Task for Exp 1 from Dorfman, et al., 2018, Psych Science //
// Hayley Dorfman //

// Modified by Emily Liquin //


var timeline = [];




var all_images = ["img/teal_mine.png","img/teal2_mine.png","img/green2_mine.png",
"img/purp2_mine.png","img/lavender_mine.png",
"img/orange3_mine.png", "img/orange2_mine.png", "img/orange2_mine_selected.png",
"img/pink1_mine.png","img/pink2_mine.png","img/red_mine.png",
"img/yellow_mine.png","img/gray_mine.png",
"img/blue_mine.png","img/cobalt_mine.png",
"img/teal_mine_selected.png","img/teal2_mine_selected.png","img/green2_mine_selected.png",
"img/purp2_mine_selected.png","img/lavender_mine_selected.png",
"img/orange3_mine_selected.png",
"img/pink1_mine_selected.png","img/pink2_mine_selected.png","img/red_mine_selected.png",
"img/yellow_mine_selected.png","img/gray_mine_selected.png",
"img/blue_mine_selected.png","img/cobalt_mine_selected.png",
"img/gold.png", "img/rock.png",
"img/bandit.jpg","img/sheriff.jpg","img/tycoon.jpg","img/tycoon_bg.jpg","img/bandit_bg.jpg","img/sheriff_bg.jpg",
"img/tycoon_rock.png","img/bandit_gold.png",
"img/dig_example.png","img/tycoon_outcome_example.png","img/bandit_outcome_example.png","img/sheriff_outcome_example.png",
"img/condition_example.png","img/instructions_patternonly_bg.jpg",
 "img/outcome_blank.png", "img/tycoon_small.jpg",
"img/money.jpg",
"img/sheriff_outcome_example_slider.png",
"img/bandit_outcome_example_slider.png",
"img/dig_example_ready.png","img/dig_example_2.png",
"img/dig_example_choice.png",
"img/bandit_outcome_example_slider3.png","img/sheriff_outcome_example_slider3.png","img/tycoon_outcome_example_slider3.png",
]



var bandit_instructions1 = "<p class='center-content'> It turns out that your mines are under the influence of a dastardly bandit. Occasionally, he sneaks into both of the mines at night, stealing the gold and leaving only rocks behind for the next dig.</p>"+
				"<p class='center-content'><img src='img/bandit.jpg'></img>"
var bandit_instructions2 = "<p class='center-content'> The bandit visits the mines randomly three nights out of ten. So 30% of the time, you will receive rocks as a result of the bandit's theft regardless of which mine you choose, and this is not a true reflection of how much gold or how many rocks the chosen mine contains. </p> "+
				"<p class='center-content'><img src='img/uncertain_goldrocks.png' style='width:400px'></img>"

	
var sheriff_instructions1 = "<p class='center-content'> It turns out that your mines are under the influence of a sheriff, a prankster who likes to keep miners on their toes. Occasionally, he sneaks into both of the mines and moves things around at night, making it equally likely that you’ll find gold or rocks on the next dig.</p>"+
				"<p class='center-content'><img src='img/sheriff.jpg'></img>"
var sheriff_instructions2 = "<p class='center-content'> The sheriff visits the mines randomly three nights out of ten. So 30% of the time, you will receive rocks or gold as a result of the sheriff's prank regardless of which mine you choose, and this is not a true reflection of how much gold or how many rocks the chosen mine contains. </p> "+
				"<p class='center-content'><img src='img/uncertain_goldrocks.png' style='width:400px'></img>"

var tycoon_instructions1 = "<p class='center-content'> It turns out that your mines are under the influence of a charitable gold tycoon. Occasionally, he sneaks into both of the mines at night, leaving behind gold for the miners to find on the next dig.</p>"+
				"<p class='center-content'><img src='img/tycoon.jpg'></img>"
var tycoon_instructions2 = "<p class='center-content'> The tycoon visits the mines randomly three nights out of ten. So 30% of the time, you will receive gold as a result of the tycoon's goodwill regardless of which mine you choose, and this is not a true reflection of how much gold or how many rocks the chosen mine contains. </p> "+
				"<p class='center-content'><img src='img/uncertain_goldrocks.png' style='width:400px'></img>"


var latent_agent_conds = [{condition: "bandit", first_instructions: bandit_instructions1, second_instructions: bandit_instructions2, slider: 'img/bandit_outcome_example_slider3.png', image: 'img/bandit.jpg'}, {condition: "sheriff", first_instructions: sheriff_instructions1, second_instructions: sheriff_instructions2, slider: 'img/sheriff_outcome_example_slider3.png', image: 'img/sheriff.jpg'}, {condition: "tycoon", first_instructions: tycoon_instructions1, second_instructions: tycoon_instructions2, slider: 'img/tycoon_outcome_example_slider3.png', image: 'img/tycoon.jpg'}]

var agent_cond = jsPsych.randomization.sample(latent_agent_conds, 1)


		/* define instructions block */
		var instructions_block = {
		type: 'instructions',
		pages: function(){ return([
				"<p class='center-content'> Welcome to the experiment!</p>"+
				"<p class='center-content'> In this experiment, imagine you're the supervisor of a team of gold miners in the Wild West.</p>",
				"<p class='center-content'> You and your miners are in charge of digging in two mines, which have different probabilities of having gold.</p>"+
				"<p class='center-content'><img src='img/teal_mine.png'></img><img src='img/cobalt_mine.png'></img>" + 
				"<p class='center-content'> <p> For example, the teal mine has a different chance of giving you gold than the blue mine.</p>", 
				"<p class='center-content'> To choose a mine on each turn, click the button on the screen below the mine you want your miners to dig in."+
				"<p class='center-content'><img src='img/dig_example_2.png' style='width:600px'></img>",
				"<p class='center-content'> After you choose a mine, you will see whether your miners found gold or rocks.</p>"+
				"<p class='center-content'><img src='img/gold.png'></img><img src='img/rock.png'></img>",
				agent_cond[0].first_instructions,
				agent_cond[0].second_instructions,
				"<p class='center-content'> After you get your gold or rocks, you will be asked to indicate how curious you are about whether the outcome you received was caused by the " + agent_cond[0].condition + "'s influence.</p>"+
				"<p class='center-content'> You will use a slider like the one below to rate your curiosity about whether the " + agent_cond[0].condition + " was responsible for the outcome you received.</p>"+
				"<p class='center-content'><img src=" + agent_cond[0].slider + " style='width:600px'></img>",
				"<p class='center-content'> Please pay careful attention to the task; your responses will be very helpful for our research. You may be asked questions about what you have seen at the end of the task.</p>",
				"<p class='center-content'> Next you'll try some practice questions. Once you click 'Next' you CANNOT come back to the instructions.</p>"+
				"<p class='center-content'> If you want to review the instructions, you should do so now. If you don't get the practice questions correct, you can't move on.</p>"


		
		])},
		show_clickable_nav: true,
		screen_color: function(){
			document.documentElement.style.backgroundImage = "url('img/instructions_patternonly_bg.jpg')";
			document.documentElement.style.backgroundSize = "cover";
			document.documentElement.style.backgroundRepeat = "no-repeat";
		}
	};


	timeline.push(instructions_block)


	/*define prac1 question*/

					var prac1 = {
					type: "button-response-ehp",
					prompt: function(){
						return("<p class='center-content'> How often does the " + agent_cond[0].condition + " visit the mines?</p>")}
						,
					choices: ['30% of the time', '50% of the time', '80% of the time'],
					timing_post_trial: 1000,
					stimulus: agent_cond["image"],
					screen_color: function(){
						document.documentElement.style.background = "White";
					}

				};

					timeline.push(prac1)




/*define prac2 question*/

				var prac2 = {
				type: "button-response-ehp",
				prompt: "<p class='center-content'>What does it mean when you see a mine with a different color?</p>",
				choices: ["It has a different probability<br> of giving me gold", "It has the same probability of giving me gold<br> as the other mines", "It doesn't mean anything"],
				timing_post_trial: 1000,
				stimulus: 'img/pink1_mine.png'

			};

				timeline.push(prac2)


			/* define instructions block */
			var instructions_block2 = {
			type: 'instructions',
			pages: [
					"<p class='center-content'> Good job! You're ready to start the experiment.</p>"+
					"<p class='center-content'> Follow the instructions on the screen carefully for each question.</p>",
					"<p class='center-content'> Please complete the full experiment and be careful to advance to the completion code screen at the end of the experiment so that your data will be saved.</p>"+
					"<p class='center-content'> We appreciate you taking the time to complete the task to the best of your ability.</p>"+
					"<p class='center-content'> The whole experiment will take about 11 minutes.</p>"+
					"<p class='center-content'> When you are ready to start the experiment, you can click 'Next.'</p>"
			],
			show_clickable_nav: true
		};

		timeline.push(instructions_block2)


// get condition
if(agent_cond[0].condition == "bandit"){
    var condition = 1
    var block_id = "adversarial"
    var weights_agent = [0, 1]
} else if (agent_cond[0].condition == "tycoon"){
    var condition = 2
    var block_id = "benevolent"
    var weights_agent = [1, 0]
} else if (agent_cond[0].condition == "sheriff"){
    var condition = 3
    var block_id = "random"
    var weights_agent = [.5, .5]
}

jsPsych.data.addProperties({
  study: "Main Study 2, three conditions, participants choose mines",
  experimental_condition: condition
});

/*define image order*/
var all_mine_images = [{unsel: "img/teal2_mine.png", sel: "img/teal2_mine_selected.png"},{unsel: "img/green2_mine.png", sel: "img/green2_mine_selected.png"},{unsel: "img/orange2_mine.png", sel: "img/orange2_mine_selected.png"},
{unsel: "img/purp2_mine.png", sel:"img/purp2_mine_selected.png"}, {unsel: "img/lavender_mine.png", sel: "img/lavender_mine_selected.png"}, {unsel: "img/orange3_mine.png", sel: "img/orange3_mine_selected.png"}, 
{unsel: "img/pink1_mine.png", sel: "img/pink1_mine_selected.png"}, {unsel: "img/pink2_mine.png", sel: "img/pink2_mine_selected.png"}, {unsel: "img/red_mine.png", sel: "img/red_mine_selected.png"},
{unsel: "img/yellow_mine.png", sel: "img/yellow_mine_selected.png"}, {unsel: "img/gray_mine.png", sel: "img/gray_mine_selected.png"}, {unsel: "img/blue_mine.png", sel: "img/blue_mine_selected.png"}]
    
// var all_mine_images = [{unsel: "img/teal_mine.png", sel: "img/teal_mine_selected.png"},{unsel: "img/cobalt_mine.png", sel: "img/cobalt_mine_selected.png"}]

// shuffle mine_images
var mine_image = jsPsych.randomization.shuffle(all_mine_images)
// var mine_image = all_mine_images;

var outcome_blank = "img/outcome_blank.png";



//set feedback probabilities
var a_weight = Math.random() < 0.5 ? .70 : .30;
var b_weight = 1-a_weight;
var weights_free_left_b1 = [a_weight, b_weight]; // probabilities for free will
var weights_free_right_b1 = [b_weight, a_weight]; // probabilities for free will


//set number of trials for each block
var n_trials = 50; //number of total trials per block

var n_latent_trials = Math.round(n_trials*.30); //number of latent trials per block
var n_reg_trials = n_trials-n_latent_trials; //number of normal trials per block


function repeatSimple(element, times)
{
    var result = [];
    for(var i=0;i<times;i++)
      result.push(element);
    return result;
}


//create trial arrays
var ones = repeatSimple(1,n_latent_trials);
var zeros = repeatSimple(0,n_reg_trials);
var trial_array = ones.concat(zeros)

var latent_array1 = jsPsych.randomization.shuffle(trial_array) //shuffle latent agent intervention trial order


//define constant weights

var results = [1, 0]; // values to return




// Trials Block

var block_1 = [];

for (var i = 0; i < n_trials; i++){

    var initial_choice={
        type: 'two-initial-choice-free',
        block_id: function(){return(block_id)},
        choices: ['Dig Here','Dig Here'],
        prompt: "<p class='center-content'><b>Choose a mine</b><BR>",
        stimuli: [mine_image[0],mine_image[1]],
        timing_post_trial: 0,
        screen_color: function(){
            document.documentElement.style.background = "White";
        }

    };


var trial_outcome={
    type: 'feedback-rand-slider-free',
    block_id: 'random',
    prompt: function(){
        return("<p class='center-content'><b>How curious are you about why this outcome occurred (i.e., about whether or not the " + agent_cond[0].condition + " intervened)?</b><BR>")},
    stimuli: [mine_image[0],mine_image[1], outcome_blank],
    labels: ["Not at all curious", "Very curious"],
    feedback_image: ["img/rock.png","img/gold.png"],
    timeline: [{latent_intervention: latent_array1[i]}
									],

                                };

                                block_1.push(initial_choice);
                                block_1.push(trial_outcome);
};




/*randomize block order*/
var g_random_order = [block_1];

//flatten the randomized block array
function flatten(arr) {
			return arr.reduce(function (flat, toFlatten) {
		return flat.concat(Array.isArray(toFlatten) ? flatten(toFlatten) : toFlatten);
	}, []);
		}
var merged = flatten(g_random_order);




/*define bonus payment*/

function getSubjectData() { //define function for bonus

	var trials1 = jsPsych.data.getTrialsOfType('feedback-rand-slider-free');

//sum for each trial type

	var total_slider1 = 0;

	for (var k = 0; k < trials1.length; k++) {


			total_slider1 += trials1[k].gamble_feedback;

			}
			
	return {

			total_score: total_slider1

	}
}






var ending = [];


var score_block = {
  type: "button-response",
  stimulus: function() {
    var subject_data = getSubjectData();
		jsPsych.data.addDataToLastTrial({"total_score": subject_data.total_score});
			return "<p class='center-content'> Great job! You found <strong>" +subject_data.total_score+ "</strong> pieces of gold.</p>"+
			"<p class='center-content'> Please press 'Continue' to proceed. </p>";
        },
    is_html: true,
    choices: ['Continue']
  };
  ending.push(score_block);


var attnq_1 = {
    type: "survey-multi-choice",
    questions: ["Who controlled 30% of the outcomes you saw?"],
    options: [["A bandit", "A tycoon", "A sheriff", "None of the above"]]
}
ending.push(attnq_1);

var attnq_2 = {
    type: "survey-multi-choice",
    questions: ["Which of the following did you NEVER receive from the mines?"],
    options: [["Rocks", "Emeralds", "Gold"]]
}
ending.push(attnq_2);


var demographics2 = {
    type: "survey-multi-choice",
    questions: ["What is your gender?"],
    options: [["Male", "Female", "Non-binary", "Other", "Prefer not to specify"]]
}
ending.push(demographics2);

var demographics = {
    type: "survey-text",
    questions: ["What is your age (in years)?"]
}
ending.push(demographics);



var end = {
    type: "button-response",
    stimulus: "Thank you for your participation in this experiment! Please hit 'Submit Experiment' below. On the next page, you will receive a completion code. Please enter this code into the field on the MTurk HIT.",
    is_html: true,
    choices: ['Submit Experiment']
};
ending.push(end);

// generate random subject id
	var subject_id =  Math.floor(Math.random()*100000)

jsPsych.data.addProperties({
  subject: subject_id
});



var test = [].concat.apply([timeline], [merged]);


var test2 = [].concat.apply([test], [ending]);


var experiment = flatten(test2);


jsPsych.init({
  timeline: experiment,
  on_finish: function() {
    $.ajax({
      type: "POST",
      url: "/experiment-data",
      data: JSON.stringify(jsPsych.data.getData()),
      contentType: "application/json"
    })
    .done(function() {
      window.location.href = "finish";
    })
    .fail(function() {
      alert("A problem occurred while writing to the database. Please contact the researcher for more information.")
      window.location.href = "finish";
    })
  }
  
});
	</script>
	</html>
